# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database
db.sqlite3
*.sqlite3

# Django static & media
/staticfiles/
/static/
/media/

# Environment variables & secrets
.env
*.env

# Logs
*.log

# VS Code settings
.vscode/

# macOS / Windows OS junk
.DS_Store
Thumbs.db

# Migration files (optional - if you want to keep them, remove this)
# **/migrations/
